<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet/less" href="css/grid.less">
    </head>
    <body ng-app="bones" ng-controller="main">
        <div ng-repeat="c in u.range(ncols)" class="col"><div ng-repeat="r in u.range(nrows)" ng-bind="sources.twitter.computed[c*nrows + r].text" ng-class="{row:true,eng:sources.twitter.computed[c*nrows + r].is_eng,hashtag:sources.twitter.computed[c*nrows + r].nhashtags>0,links:sources.twitter.computed[c*nrows + r].nlinks > 0,atmsg:sources.twitter.computed[c*nrows + r].atmsg}"></div></div>   
        <script src="bower_components/less/dist/less.min.js"></script>
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/underscore/underscore-min.js"></script>
        <script src="bower_components/socket.io-client/socket.io.js"></script>
        <script src="bower_components/angularjs/angular.min.js"></script>
        <script src="bower_components/angular-socket-io/socket.min.js"></script>
        <script src="bower_components/d3/d3.min.js"></script>
        <script src="bower_components/paralleljs/lib/parallel.js"></script>   
        <script src="js/grid.js"></script>
        <script src="js/utils.js"></script>
    </body>
</html>
