<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet/less" href="css/index.less">
    </head>
    <body ng-app="bones" ng-controller="main">
        <table class="progressbar">
            <tr><td ng-repeat="s in u.range(sources.twitter.queue.length)"> &nbsp; </td></tr>
        </table>
        <div class="counts">
            <div class="value">{{ sources.twitter.count }}</div>
            <histogram class="chars" data="sources.twitter.computed" field="chars" xmax='140'></histogram>
            <histogram class="tokens" data="sources.twitter.computed" field="tokens" xmax='25'></histogram>
            <histogram class="hashtags" data="sources.twitter.computed" field="nhashtags" xmax='12'></histogram>
        </div>
        <table class="stats" ng-show="sources.twitter.stats.n">
            <tr><td>chars / tweet</td><td class="value chars"><lineplot data="sources.twitter.stats.avg_chars"></lineplot>{{ sources.twitter.stats.avg_chars }}</td></tr>
            <tr><td>words / tweet</td><td class="value tokens"><lineplot data="sources.twitter.stats.avg_tokens"></lineplot>{{ sources.twitter.stats.avg_tokens }}</td></tr>
            <tr><td>hashtags / tweet </td><td class="value hashtags"><lineplot data="sources.twitter.stats.avg_hashtags"></lineplot>{{ sources.twitter.stats.avg_hashtags }}</td></tr>
            <tr><td>@s / tweet:</td><td class="value"><lineplot data="sources.twitter.stats.avg_ats"></lineplot>{{ sources.twitter.stats.avg_ats }}</td></tr>
            <tr><td>authors </td><td class="value"><lineplot data="sources.twitter.stats.authors.length"></lineplot>{{ sources.twitter.stats.authors.length / sources.twitter.stats.n }}</td></tr>
            <tr><td>hashtags</td><td class="hashdisplay"><div ng-repeat='h in sources.twitter.stats.hashtags' ng-bind='h'></div></td></tr>
        </table>
        <div class="rows">
           <div class="row" ng-repeat="s in sources.twitter.register" ng-bind="s.text"></tr>
        </div>   
        <script src="bower_components/less/dist/less.min.js"></script>
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/underscore/underscore-min.js"></script>
        <script src="bower_components/socket.io-client/socket.io.js"></script>
        <script src="bower_components/angularjs/angular.min.js"></script>
        <script src="bower_components/angular-socket-io/socket.min.js"></script>
        <script src="bower_components/d3/d3.min.js"></script>
        <script src="bower_components/paralleljs/lib/parallel.js"></script>   
        <script src="js/index.js"></script>
        <script src="js/hist.js"></script>
        <script src="js/lineplot.js"></script>
        <script src="js/utils.js"></script>
    </body>
</html>
