<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet/less" href="css/index.less">
    </head>
    <body ng-app="bones" ng-controller="main">
        <table class="progressbar">
            <tr><td ng-repeat="s in u.range(sources.twitter.queue.length)"> &nbsp; </td></tr>
        </table>        

        <table class="counts">
            <!--<tr><td>wikipedia edits </td><td class="value">{{ sources.wikipedia.count }}</td> </tr>-->
            <tr><td class="value">{{ sources.twitter.count }}</td></tr>
            <tr><td><histogram class="chars" data="sources.twitter.computed" field="chars" xmax='140'></histogram></td></tr>
            <tr><td><histogram class="tokens" data="sources.twitter.computed" field="tokens" xmax='25'></histogram></td></tr>
            <tr><td><histogram class="hashtags" data="sources.twitter.computed" field="nhashtags" xmax='12'></histogram></td></tr>
        </table>

        <!--
        <table style="height:200px;width:100%;font-size:10pt;border:1px solid #eee;">
            <tr ng-repeat="s in sources.wikipedia.register"><td>{{s.wikipedia_page_name}}</td></tr>
        </table>
        -->
        <div class="twitter">
            <table class="stats" ng-show="sources.twitter.stats.n">
                <tr><td>chars/tweet: </td><td class="value chars">{{ sources.twitter.stats.avg_chars }}</td></tr>
                <tr><td>words/tweet: </td><td class="value tokens">{{ sources.twitter.stats.avg_tokens }}</td></tr>
                <tr><td>hashtags/tweet: </td><td class="value hashtags">{{ sources.twitter.stats.avg_hashtags }}</td></tr>
                <tr><td>@s/tweet:</td><td class="value">{{ sources.twitter.stats.avg_ats }}</td></tr>
                <tr><td>authors: </td><td class="value">{{ sources.twitter.stats.authors.length/sources.twitter.stats.n }}</td></tr>
                <tr><td>hashtags:</td><td class="hashdisplay"><div ng-repeat='h in sources.twitter.stats.hashtags' ng-bind='h'></div></td></tr>
            </table>
            <div class="rows">
               <div class="row" ng-repeat="s in sources.twitter.register" ng-bind="s.text"></tr>
            </div>   
        </li>        
        <script src="bower_components/less/dist/less.min.js"></script>
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/underscore/underscore-min.js"></script>
        <script src="bower_components/socket.io-client/socket.io.js"></script>
        <script src="bower_components/angularjs/angular.min.js"></script>
        <script src="bower_components/angular-socket-io/socket.min.js"></script>
        <script src="bower_components/d3/d3.min.js"></script>
        <script src="bower_components/paralleljs/lib/parallel.js"></script>   
        <script src="js/index.js"></script>
        <script src="js/hist.js"></script>
        <script src="js/utils.js"></script>
    </body>
</html>
