* { 
	box-sizing:border-box;
	font-family:'helvetica neue', 'helvetica', sans-serif;
}

html, body {
	width:100%;
	height:100%;
}
body { 
	padding:20px;
	font-weight:200;
	background-color:#222;
}
.transition {
  -webkit-transition:all @transitiondelay ease-in-out;
  -moz-transition:all @transitiondelay ease-in-out;
  -o-transition:all @transitiondelay ease-in-out;
  transition:all @transitiondelay ease-in-out;
}
@transitiondelay: 0.3s;


div,h1,h2,h3,h4,h5,p,span { 
	-webkit-transform:translateZ(0);
}

@colourhash : #eac;
@colourtokens: #a22;
@colourchars: #a0c;
@colourenglish: #aa4;

.col {
	display:inline-block;
	width:14%;
	height:100%;
	// border:1px solid green;
	// border-right:1px solid #eee;
	margin:0px;padding:0px;
	vertical-align:top;
	.row {
		.transition;
		// vertical-align:top;
		width:100%;
		height:6.5% !important;
		padding:9px 12px;
		// border-bottom:5px solid #fcfcfc;
		margin:0px !important;
		overflow:hidden;
		background-color:#7f8c8d;
		color:#ecf0f1; 
		opacity:0.2;
		&.eng {
			opacity:1.0;
		}
		&.hashtag {	background-color:#16a085;  }//  #fff0f0;
		&.links { background-color:#3498db;  } // #f0f0ff;
		&.atmsg { background-color:#e74c3c; } // #ffcebb
	}
}
