* { 
	box-sizing:border-box;
	font-family:'helvetica neue';
}

body {
	padding:20px;
	width:100%;
	height:100%;
}
.transition {
  -webkit-transition:all @transitiondelay ease-in-out;
  -moz-transition:all @transitiondelay ease-in-out;
  -o-transition:all @transitiondelay ease-in-out;
  transition:all @transitiondelay ease-in-out;
}
@transitiondelay: 0.3s;


div,h1,h2,h3,h4,h5,p,span { 
	-webkit-transform:translateZ(0);
}

@colourhash : #eac;
@colourtokens: #a22;
@colourchars: #a0c;
@colourenglish: #aa4;

.rows {
	position:absolute;
	left:20px; 
	width:38%;
	height:100%;
	font-size:12pt;
	font-weight:bold;
	.row {
		width:100%;
		padding:12px 20px 10px 3px; 
		border-bottom:5px solid #fcfcfc;
		overflow:hidden;
	}
}
.stats {
	z-index:0p;
	// padding-left:20px;
	position:absolute;
	left:38%;width:350%; 
	max-width:30%;
	overflow:hidden;
	height:100%;
	border-left:20px solid #fcfcfc;
	border-right:20px solid #fcfcfc;

	// background-color:#fcfcfc;
	background-color:white;
	position:absolute;
	// right:0px;
	font-size:12pt;
	.row { 
		background-color:white;
		height:11%;
		width:100%;
		margin:10px 0px 10px 0px;
		padding:3px 0px 5px 0px;
	}
	.rowname, .hashname { 
		background:rgba(255,255,255,0.7);
		color:#222;		
		line-height:1.0em;
		font-weight:200;		
	}
	.rowname {
		position:absolute;
		top:0%; bottom:0px;
		left:0px; width:100px;
		padding:25px 20px 10px 15px;
		vertical-align:middle;
	}
	.value {
		z-index:10;
		margin-left:100px;		
		position:relative;
		// font-weight:bold;
		font-size:72pt;
		line-height:0.8em;
	}
	.hashtags .value { color: @colourhash; }
	.tokens .value { color:@colourtokens; }
	.chars .value { color:@colourchars; }			
	tr td { 
		background-color:white;
		margin:0px; 
		border-bottom:5px solid #fcfcfc !important; 
		padding:12px 0px;
	}
	tr td:first-child { 
		text-align:right; 
		color:#aaa;
		width:89px;
		font-size:12pt;
	}
	tr td:last-child {
		padding-left:20px;
		overflow:hidden;
	}
	.hashname { 
		padding:5px 0px 5px 15px;
	}
	.hashvalue {
		font-size:13pt;
		color:#268;
		div { display:inline-block; margin:0px 10px 2px 0px; }
		font-weight:200;
		padding:5px 0px 5px 15px;
		width:100%;
	}

}
.progressbar {
	position:absolute;
	top:0px; left:0px;
	td { opacity:0.1; background-color:#e0f; color:#e0f; padding:1px 8px; border-radius:16px;}  
}
.counts {
	position:absolute;
	z-index:20;
	background-color:white;
	left:70%;
	height:100%;
	width:30%;
	padding-right:20px;
	text-align:right;
	font-size:14pt;
	.value { 
		// background:#eee;
		font-size: 72pt; 
		color:#bbb; 
	}

	.hist {
		// width:400px;
		width:100%;
		// height:160px;
		height:25%;
		padding:4px;
		// border:1px solid #eee;
		svg {
			width:100%;
			height:100%;
			.bar rect {
				// fill: steelblue;
				fill: #0ac;
				shape-rendering: crispEdges;
				stroke:none;
			}
			.bar text {
			  fill: #fff;
			  font-size:8pt;
			}
			.axis path, .axis line {
			  fill: none;
			  stroke: #000;
			  shape-rendering: crispEdges;
			}
			.axis {
				font-size:8pt;
				stroke:none;
				fill:#888;
			}
		}	
	}
	.chars.hist {
		svg { .bar rect { fill:@colourchars; }	}
	}
	.tokens.hist {
		svg { .bar rect { fill:@colourtokens; }	}
	}
	.hashtags.hist {
		svg { .bar rect { fill:@colourhash; }	}
	}
}

.lineplot {
	opacity:0.4;
	position:absolute;
	top:0px; right:0px; bottom:0px; left:0px;	
	z-index:0;
	// border:1px solid #fe0;
	.axis path,.axis line {
	  fill: none;
	  stroke: #000;
	  shape-rendering: crispEdges;
	}
	.x.axis path { display: none;}
	.line {
	  fill: none;
	  stroke: #888; // steelblue;
	  stroke-width: 6px;
	}
}
.chars .lineplot .line {stroke:@colourchars; }			
.tokens .lineplot .line { stroke: @colourtokens; }
.hashtags .lineplot	.line { stroke:@colourhash; }
.ats {
	.value { color:#0ff; }
	.lineplot .line { 
		stroke:#0ff; 
	}
}
.authors {
	.value { color:#0ea; }
	.lineplot .line {
		stroke:#0ea;
	}
}
.english  { 
	.value { color:@colourenglish; }
	.lineplot .line { stroke:@colourenglish; }
}
