* { 
	box-sizing:border-box;
	font-family:'helvetica neue';
}

body {
	padding:20px;
}

.counts {
	font-size:14pt;
	.value { 
		font-size: 72pt; 
		color:#bbb; 
	}
	td:first-child {
		text-align:right;
		padding-right:20px;
	}
}

.twitter {
	position:relative;
	.rows {
		width:60%;
		padding:20px 0px;
		tr { 
			td { 
				border-bottom:5px solid #eee !important; 
				padding:10px 0px;  
			}
		}
	}
	.stats {
		background-color:rgba(255,255,255,0.5);
		position:absolute;
		right:0px;
		font-size:12pt;
		.value {
			// font-weight:bold;
			font-size:72pt;
			line-height:0.8em;
		}
		tr td { 
			margin:0px; 
			border-bottom:5px solid #eee !important; 
		}
		tr td:first-child { 
			text-align:right; 
		}
		tr td:last-child {
			padding-left:20px;
			width:280px;
			overflow:hidden;
		}
		.hashtags {
			font-size:10pt;
		}

	}
	.progressbar {
		position:absolute;
		top:0px;
		td { opacity:0.1; background-color:#e0f; color:#e0f; padding:1px 8px; border-radius:16px;}  
	}
}

